
adminer.php
error_log
error_response.txt
error_response_ios.txt
php.ini
.ftpquota
/wp-content/ai1wm-backups/*
/wp-content/maintenance/*
/wp-content/mu-plugins/*
/wp-content/upgrade/*
wp-content.zip
# Configuration
wp-config.php



# Log files
*.log
.tmb
.user.ini
adminer-4.8.1.php
direct/

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
